global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'openfms-api'
    static_configs:
      - targets: ['api:3000']
    metrics_path: /metrics

  - job_name: 'openfms-gateway'
    static_configs:
      - targets: ['gateway:8081']
    metrics_path: /metrics
